<!DOCTYPE html>
<html>
<head>
	<title>Photo Gallery App | CodeChef</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/static/css/gallery.css">
</head>
<body>
	<div id="app" class="w3-display-container w3-animate-opacity w3-text-black"></div>
	<script type="text/javascript" src="/static/js/gallery.js"></script>
</body>
</html>
